@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --color-background:#FFFFFF;
    --color-background-dark:#ECEFF1;
    --color-primary: #4D6C80;
    --color-secondary: #C62828;
    --color-secondary-hover: #A11F1F;
    --color-secondary-await: #ED4A4A;
    --color-accent: #1A237E;
    --color-accent-hover: #4554bf;
    --color-accent-foreground: #ECEFF1;
    --color-accent-dark: #37474F;
    --color-muted: #ECECEC;
    --color-header:#691919;
}

html,
body {
  
   @apply bg-(--color-background) ;
   /*dark:bg-gray-950*/

  /* @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }  */
}
main{
  @apply pt-16 pb-16 pr-8 pl-8 m-auto max-w-7xl;
}
header{
  @apply   top-0 w-full  md:h-auto md:sticky bg-(--color-header);
  /* fixed */
}
nav{
  @apply w-full h-full bg-(--color-background-dark) shadow-sm ;
}
/* nav.isClosed{@apply left-full md:left-auto md:transition-none;} */
nav>ul{
  @apply  gap-2 text-center items-stretch m-auto max-w-7xl flex flex-col justify-center
  md:flex-row md:gap-4;
}
nav>ul>li{@apply  items-stretch relative md:flex;}
nav>ul>li>a{
  @apply border-solid border-transparent border-b-2 block p-2 content-center text-lg;
}
nav>ul>li>a.active{
  @apply border-solid border-(--color-secondary) border-b-2;
}
nav>ul>li>a.active:hover{
  @apply  border-transparent ;
}
nav>ul>li>a.SpecialNavButton {
  @apply bg-(--color-accent) text-(--color-accent-foreground) rounded-sm transition-all duration-300 ease-in-out my-2 shadow-sm  inline-block;
}
nav>ul>li>a.SpecialNavButton:hover {
  @apply  inset-shadow-sm bg-(--color-accent-hover);
}

nav>ul>li>ul{
  @apply cursor-pointer w-auto text-left z-10 p-2 min-w-full w-max bg-(--color-background) 
  md:bg-(--color-background-dark) md:absolute md:top-full md:left-0 md:rounded-b-sm;
}
nav>ul>li>ul>li>p>a{ @apply  block p-2 text-center md:text-left}
nav>span{@apply md:hidden}

/*
*start styles for hamburger nav menu
*/
nav{
  @apply z-3 fixed top-0 h-full ease-in-out duration-300 inset-shadow-sm md:shadow-sm md:relative md:bottom-auto md:h-auto
}
nav.isClosed{
  @apply -top-full ;
}
nav>ul{
@apply h-full md:h-auto
}
nav span{
  @apply fixed top-2 right-2 bg-(--color-header) p-2 rounded-sm cursor-pointer
}
nav span svg path{ @apply fill-(--color-background-dark) ease-in-out}
/*
*end styles for hamburger nav menu
*/


article a{
  @apply underline transition-colors text-(--color-secondary) hover:text-(--color-secondary-hover) focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 ;
}

h1{
  @apply text-3xl mb-8;
}
article{
  @apply mb-8;
}
article h3{
  @apply text-xl mb-4;
}
article p{
  @apply mb-4;
}
article li p{
  @apply mb-2;
}
h1, h3, p{@apply text-(--color-accent-dark);}
.heroImageContainer h1{
  @apply text-(--color-background-dark)
}



.cardArticles, .CalendarEvents{
  @apply flex gap-4 flex-col md:flex-wrap md:flex-row md:items-start;
}
.cardArticles > article, .CalendarEvents > aside, form{
  @apply p-4 bg-(--color-background) border border-slate-100 shadow-sm rounded-lg md:w-[calc(50%-1rem)] lg:w-[calc(33.333%-1rem)] ;
}
form{@apply m-auto md:w-[calc(75%-1rem)] lg:w-[calc(50%-1rem)]}
.cardArticles > article  img, .CalendarEvents > aside  img{
  @apply w-full h-auto mb-4;
}
.cardArticles > article h3, .cardArticles > article h3 a, .CalendarEvents > aside h3, .CalendarEvents > aside h3 a{
  @apply text-xl mb-2;
}
.cardArticles > article ul,.CalendarEvents > aside ul{ @apply ml-4;}
.cardArticles > article li,.CalendarEvents > aside li{ @apply list-disc;}

input, textarea{
  @apply focus-within:ring-2;
}
.formPGHeader{@apply max-w-md mx-auto;}
